@font-face {
  font-family: 'icomoon';
  src:
    url('../fonts/icomoon.ttf?kyw5al') format('truetype'),
    url('../fonts/icomoon.woff?kyw5al') format('woff'),
    url('../fonts/icomoon.svg?kyw5al#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-alert {
  &:before {
    content: $icon-alert;
  }
}
.icon-mobile {
  &:before {
    content: $icon-mobile;
  }
}
.icon-mobile-alt {
  &:before {
    content: $icon-mobile-alt;
  }
}
.icon-up-open {
  &:before {
    content: $icon-up-open;
  }
}
.icon-newspaper {
  &:before {
    content: $icon-newspaper;
  }
}
