$screen-sm:             576px;
$screen-md:             768px;
$screen-lg:             992px;
$screen-xl:             1200px;

$container-max-sm:      540px;
$container-max-md:      720px;
$container-max-lg:      960px;
$container-max-xl:      1170px;

$color-primary:         #df3d7b;
$color-secondary:       #262626;

$transition-duration:   0.2s;
$transition-function:   linear;

$font-primary:          sans-serif;

$global-line-height:    1.37;
$navbar-height:         60px;

// grid
$grid-gutter-width-base: 30px;

$grid-breakpoints: (
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl,
);

$container-max-widths: (
  sm: $container-max-sm,
  md: $container-max-md,
  lg: $container-max-lg,
  xl: $container-max-xl,
);
